---
layout: base.njk
title: NADAF - Paper and Cardboard Recycling in Algeria
description: NADAF, your trusted partner for paper and cardboard collection and recycling in Eastern Algeria.
permalink: /en/
sitemapPriority: 1.0
sitemapChangefreq: weekly
---
{% include "components/hero.njk" %}
{% include "components/home-content.njk" %}
