---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for page in collections.sitemap %}
  <url>
    <loc>{{ metadata.baseUrl }}{{ page.url }}</loc>
    <lastmod>{% buildDate %}</lastmod>
    {%- if page.data.sitemapChangefreq %}
    <changefreq>{{ page.data.sitemapChangefreq }}</changefreq>
    {%- endif %}
    {%- if page.data.sitemapPriority %}
    <priority>{{ page.data.sitemapPriority }}</priority>
    {%- endif %}
    {%- for language in languages.list %}
    <xhtml:link rel="alternate" hreflang="{{ language.code }}" href="{{ metadata.baseUrl }}{{ page.url | alternateUrl(language.code) }}" />
    {%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ metadata.baseUrl }}{{ page.url | alternateUrl(languages.default) }}" />
  </url>
{%- endfor %}
</urlset>
